# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [1]:
import pandas as pd

ta_ratings = pd.read_csv('twitter-archive-enhanced.csv')

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [2]:
import requests
import os

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(os.path.join(url.split('/')[-1]), mode = 'wb') as file:
  file.write(response.content)

images_pred = pd.read_csv('image-predictions.tsv', sep ='\t')

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [38]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = ta_ratings.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

1: 892420643555336193

AttributeError: module 'tweepy' has no attribute 'TweepError'

In [ ]:
 #Reading the json.txt file into a pandas dataframe

In [44]:
tweet_rate = pd.read_csv('tweet_json.csv')

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

In [4]:
ta_ratings

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [5]:
images_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [6]:
tweet_rate

          tweet_id  retweet  favorites
0     8.924210e+17     7010      33824
1     8.921770e+17     5302      29335
2     8.918150e+17     3482      22065
3     8.916900e+17     7228      36947
4     8.913280e+17     7764      35317
...            ...      ...        ...
2351  6.660210e+17      423       2292
2352  6.660210e+17      423       2292
2353  6.660210e+17      423       2292
2354  6.660210e+17      423       2292
2355  6.660210e+17      423       2292

[2356 rows x 3 columns]

In [7]:
ta_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [8]:
images_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [9]:
tweet_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet_id   2356 non-null   float64
 1   retweet    2356 non-null   int64
 2   favorites  2356 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 55.3 KB

In [10]:
ta_ratings.shape

(2356, 17)

In [11]:
images_pred.shape

(2075, 12)

In [12]:
tweet_rate.shape

(2356, 3)

In [13]:
list(ta_ratings)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

In [14]:
list(images_pred)

['tweet_id',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog']

In [15]:
list(tweet_rate)

['tweet_id', 'retweet', 'favorites']

In [16]:
sum(ta_ratings.duplicated())

0

In [17]:
sum(images_pred.duplicated())

0

In [18]:
tweet_rate[tweet_rate.tweet_id.duplicated()]

          tweet_id  retweet  favorites
325   8.322160e+17     8604          0
429   8.190150e+17    17805          0
1824  6.757070e+17       86        583
1843  6.751470e+17      257       1055
1866  6.747430e+17       45        430
1912  6.737160e+17     1815       3172
2230  6.675510e+17       26          0
2326  6.660210e+17      423       2292
2327  6.660210e+17      423       2292
2328  6.660210e+17      423       2292
2329  6.660210e+17      423       2292
2330  6.660210e+17      423       2292
2331  6.660210e+17      423       2292
2332  6.660210e+17      423       2292
2333  6.660210e+17      423       2292
2334  6.660210e+17      423       2292
2335  6.660210e+17      423       2292
2336  6.660210e+17      423       2292
2337  6.660210e+17      423       2292
2338  6.660210e+17      423       2292
2339  6.660210e+17      423       2292
2340  6.660210e+17      423       2292
2341  6.660210e+17      423       2292
2342  6.660210e+17      423       2292
2343  6.660210e+17      423       2292
2344  6.660210e+17      423       2292
2345  6.660210e+17      423       2292
2346  6.660210e+17      423       2292
2347  6.660210e+17      423       2292
2348  6.660210e+17      423       2292
2349  6.660210e+17      423       2292
2350  6.660210e+17      423       2292
2351  6.660210e+17      423       2292
2352  6.660210e+17      423       2292
2353  6.660210e+17      423       2292
2354  6.660210e+17      423       2292
2355  6.660210e+17      423       2292

In [19]:
sum(tweet_rate.duplicated())

30

In [20]:
ta_ratings.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [21]:
images_pred.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [22]:
tweet_rate.describe()

           tweet_id       retweet      favorites
count  2.356000e+03   2356.000000    2356.000000
mean   7.408583e+17   2447.030560    6998.809423
std    6.830198e+16   4166.814394   10910.753509
min    6.660210e+17      1.000000       0.000000
25%    6.773115e+17    477.750000    1251.250000
50%    7.158430e+17   1128.500000    3020.500000
75%    7.976518e+17   2834.500000    8492.500000
max    8.924210e+17  70775.000000  144938.000000

In [23]:
ta_ratings.rating_numerator.sort_values().value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [24]:
images_pred.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

### Quality issues

***ta_ratings table***

1. Missing values in columns (in_reply_to_status_id, in_reply_to_user_id,retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls 

2. Erroneous datatype (Time stamp column is  string not date time)

3. Name column  has some incomplete values 'a'

4. Erroneous datatype (`retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp`) 

***image_pred table***

5. Mix of upper and lowercase in columns p1,p2,p3

6. Missing records (2075 instead of 2356)




***tweet_rate table***

7. Erroneous datatype(tweet_id is float not integer) 
8. Duplicated tweet_ids

### Tidiness issues
1. merge all three tables 
2. drop unnecessary columns

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [25]:
# Make copies of original pieces of data
ta_ratings_clean = ta_ratings.copy()
images_pred_clean = images_pred.copy()
tweet_rate_clean = tweet_rate.copy()

### Issue #1: Missing Data

#### Define: Merge all three tables using the merge function and drop entries without images.

#### Code

In [26]:
dog_ratings = pd.merge(ta_ratings_clean, images_pred_clean,
                       on='tweet_id', how='left')
dog_ratings = pd.merge(dog_ratings,tweet_rate,
                       on='tweet_id', how='left')

#### Test

In [27]:
dog_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
 17  jpg_url                     2075 non-null   object
 18  img_num                     2075 non-null   float64
 19  p1                          2075 non-null   object
 20  p1_conf                     2075 non-null   float64
 21  p1_dog                      2075 non-null   object
 22  p2                          2075 non-null   object
 23  p2_conf                     2075 non-null   float64
 24  p2_dog                      2075 non-null   object
 25  p3                          2075 non-null   object
 26  p3_conf                     2075 non-null   float64
 27  p3_dog                      2075 non-null   object
 28  retweet                     0 non-null      float64
 29  favorites                   0 non-null      float64
dtypes: float64(10), int64(3), object(17)
memory usage: 570.6+ KB

In [28]:
#dropping entries without images
dog_ratings.dropna(subset=['img_num'], inplace=True)

In [29]:
dog_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2075 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2075 non-null   object
 4   source                      2075 non-null   object
 5   text                        2075 non-null   object
 6   retweeted_status_id         81 non-null     float64
 7   retweeted_status_user_id    81 non-null     float64
 8   retweeted_status_timestamp  81 non-null     object
 9   expanded_urls               2075 non-null   object
 10  rating_numerator            2075 non-null   int64
 11  rating_denominator          2075 non-null   int64
 12  name                        2075 non-null   object
 13  doggo                       2075 non-null   object
 14  floofer                     2075 non-null   object
 15  pupper                      2075 non-null   object
 16  puppo                       2075 non-null   object
 17  jpg_url                     2075 non-null   object
 18  img_num                     2075 non-null   float64
 19  p1                          2075 non-null   object
 20  p1_conf                     2075 non-null   float64
 21  p1_dog                      2075 non-null   object
 22  p2                          2075 non-null   object
 23  p2_conf                     2075 non-null   float64
 24  p2_dog                      2075 non-null   object
 25  p3                          2075 non-null   object
 26  p3_conf                     2075 non-null   float64
 27  p3_dog                      2075 non-null   object
 28  retweet                     0 non-null      float64
 29  favorites                   0 non-null      float64
dtypes: float64(10), int64(3), object(17)
memory usage: 502.5+ KB

#### Define: Dropping unnecessary columns

#### Code

In [30]:
dog_ratings.drop(dog_ratings.columns[[1,2,6,7,8,28,29]], axis=1, inplace=True)

#### Test

In [31]:
dog_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2355
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2075 non-null   int64
 1   timestamp           2075 non-null   object
 2   source              2075 non-null   object
 3   text                2075 non-null   object
 4   expanded_urls       2075 non-null   object
 5   rating_numerator    2075 non-null   int64
 6   rating_denominator  2075 non-null   int64
 7   name                2075 non-null   object
 8   doggo               2075 non-null   object
 9   floofer             2075 non-null   object
 10  pupper              2075 non-null   object
 11  puppo               2075 non-null   object
 12  jpg_url             2075 non-null   object
 13  img_num             2075 non-null   float64
 14  p1                  2075 non-null   object
 15  p1_conf             2075 non-null   float64
 16  p1_dog              2075 non-null   object
 17  p2                  2075 non-null   object
 18  p2_conf             2075 non-null   float64
 19  p2_dog              2075 non-null   object
 20  p3                  2075 non-null   object
 21  p3_conf             2075 non-null   float64
 22  p3_dog              2075 non-null   object
dtypes: float64(4), int64(3), object(16)
memory usage: 389.1+ KB

### Issue #2: Erroneous Datatypes

#### Define: Convert the timestamp column to datetime

#### Code

In [32]:
dog_ratings['timestamp']= pd.to_datetime(dog_ratings['timestamp'])

#### Test

In [33]:
dog_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 2355
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2075 non-null   int64
 1   timestamp           2075 non-null   datetime64[ns, UTC]
 2   source              2075 non-null   object
 3   text                2075 non-null   object
 4   expanded_urls       2075 non-null   object
 5   rating_numerator    2075 non-null   int64
 6   rating_denominator  2075 non-null   int64
 7   name                2075 non-null   object
 8   doggo               2075 non-null   object
 9   floofer             2075 non-null   object
 10  pupper              2075 non-null   object
 11  puppo               2075 non-null   object
 12  jpg_url             2075 non-null   object
 13  img_num             2075 non-null   float64
 14  p1                  2075 non-null   object
 15  p1_conf             2075 non-null   float64
 16  p1_dog              2075 non-null   object
 17  p2                  2075 non-null   object
 18  p2_conf             2075 non-null   float64
 19  p2_dog              2075 non-null   object
 20  p3                  2075 non-null   object
 21  p3_conf             2075 non-null   float64
 22  p3_dog              2075 non-null   object
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(15)
memory usage: 389.1+ KB

### Issue #3: Different Letter cases & Merge columns

#### Define: Change the first letter of entries in p1, p2, p3

#### Code

In [34]:
dog_ratings.p1 = dog_ratings.p1.str.lower()
dog_ratings.p2 = dog_ratings.p2.str.lower()
dog_ratings.p3 = dog_ratings.p3.str.lower()

#### Test

In [35]:
dog_ratings

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,...,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,...,1.0,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,...,1.0,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,...,1.0,paper_towel,0.170278,False,labrador_retriever,0.168086,True,spatula,0.040836,False
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,...,2.0,basset,0.555712,True,english_springer,0.225770,True,german_short-haired_pointer,0.175219,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,2015-11-16 00:24:50+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,...,1.0,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True
2352,666044226329800704,2015-11-16 00:04:52+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,...,1.0,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
2353,666033412701032449,2015-11-15 23:21:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,...,1.0,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
2354,666029285002620928,2015-11-15 23:05:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,...,1.0,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2355,666020888022790149,2015-11-15 22:32:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,...,1.0,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [46]:
dog_ratings.to_csv('twitter_archive_master.csv')

cleaned_df = pd.read_csv('twitter_archive_master.csv')
cleaned_df

,Unnamed: 0,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,...,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,...,1.0,chihuahua,0.323581,True,pekinese,0.090647,True,papillon,0.068957,True
2,2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,...,1.0,chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,...,1.0,paper_towel,0.170278,False,labrador_retriever,0.168086,True,spatula,0.040836,False
4,4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,...,2.0,basset,0.555712,True,english_springer,0.225770,True,german_short-haired_pointer,0.175219,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,2351,666049248165822465,2015-11-16 00:24:50+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,...,1.0,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True
2071,2352,666044226329800704,2015-11-16 00:04:52+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,...,1.0,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
2072,2353,666033412701032449,2015-11-15 23:21:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,...,1.0,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
2073,2354,666029285002620928,2015-11-15 23:05:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,...,1.0,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2074,2355,666020888022790149,2015-11-15 22:32:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,...,1.0,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

In [48]:
cleaned_df.groupby('rating_numerator').count()

,Unnamed: 0,tweet_id,timestamp,source,text,expanded_urls,rating_denominator,name,doggo,floofer,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
rating_numerator,,,,,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
2,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
3,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
4,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
5,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
6,32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
7,52,52,52,52,52,52,52,52,52,52,...,52,52,52,52,52,52,52,52,52,52
8,95,95,95,95,95,95,95,95,95,95,...,95,95,95,95,95,95,95,95,95,95
9,151,151,151,151,151,151,151,151,151,151,...,151,151,151,151,151,151,151,151,151,151
10,429,429,429,429,429,429,429,429,429,429,...,429,429,429,429,429,429,429,429,429,429
11,413,413,413,413,413,413,413,413,413,413,...,413,413,413,413,413,413,413,413,413,413
12,474,474,474,474,474,474,474,474,474,474,...,474,474,474,474,474,474,474,474,474,474
13,284,284,284,284,284,284,284,284,284,284,...,284,284,284,284,284,284,284,284,284,284
14,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
15,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
24,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
26,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
27,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
44,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
45,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
50,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
60,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
75,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
80,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
84,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
88,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
99,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
121,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
143,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
144,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
165,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
204,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
420,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1776,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [49]:
cleaned_df.p1.value_counts()

golden_retriever      150
labrador_retriever    100
pembroke               89
chihuahua              83
pug                    57
                     ...
hammer                  1
clumber                 1
sundial                 1
carton                  1
pot                     1
Name: p1, Length: 378, dtype: int64

### Insights:

1. 2 or more dogs have their ratings between 0 to 14, with a majority between 9 to 13. Ratings above 14 have one    dog per rating.

2.


3.

### Visualization

In [ ]:
import matplotlib.